<div class="portfolio-item filter-web" data-wow-delay="0.1s">
  <div class="portfolio-wrap">
    <img src="{{projectsMediaURL +''+ project.image}}" class="img-fluid" alt="">
    <div class="portfolio-info">
      <h4><a href="#">{{project.name}}</a></h4>
      <p>{{project.type}}</p>
      <div>
        <a href="{{project.url}}" class="link-preview" data-lightbox="portfolio" data-title="{{project.name}}"
          title="Preview"><i class="ion ion-eye"></i></a>
        <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
      </div>
    </div>
  </div>
</div>
