<header id="header" class="fixed-top mobile-nav-active">
  <div class="container">

    <div class="logo float-left">
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
      <a routerLink="" class="scrollto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
    </div>



    <nav class="main-nav float-right d-none d-lg-block ">
      <ul>
        <li [ngClass]="{'active': isCurrentRoute('/')}"><a routerLink="">Home</a></li>
        <li [ngClass]="{'active': isCurrentRoute('/about-us')}"><a routerLink="about-us">About Us</a></li>
        <li [ngClass]="{'active': isCurrentRoute('/services')}"><a routerLink="services">Services</a></li>
        <li [ngClass]="{'active': isCurrentRoute('/portfolio')}"><a routerLink="portfolio">Portfolio</a></li>
        <li [ngClass]="{'active': isCurrentRoute('/contact-us')}"><a routerLink="/contact-us">Contact</a></li>
        <li style='padding-left: 3rem!important;'>.</li>
        <li><a href="tel:0283851576"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
        <li><a href="mailto:contact@webside.com.au"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
      </ul>
    </nav><!-- .main-nav -->

  </div>
</header><!-- #header -->


<nav class="mobile-nav d-lg-none">
  <ul>
    <li [ngClass]="{'active': isCurrentRoute('/')}"><a routerLink="">Home</a></li>
    <li [ngClass]="{'active': isCurrentRoute('/about-us')}"><a routerLink="about-us">About Us</a></li>
    <li [ngClass]="{'active': isCurrentRoute('/services')}"><a routerLink="services">Services</a></li>
    <li [ngClass]="{'active': isCurrentRoute('/portfolio')}"><a routerLink="portfolio">Portfolio</a></li>
    <li [ngClass]="{'active': isCurrentRoute('/contact-us')}"><a routerLink="/contact-us">Contact</a></li>
    <li style='padding-left: 3rem!important;'>.</li>
    <li><a href="tel:0283851576"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
    <li><a href="mailto:contact@webside.com.au"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
  </ul>
</nav>
