<!--==========================
  Intro Section
============================-->
<section id="intro" class="clearfix">
  <div class="container">

    <div class="intro-img">
      <img src="assets/img/about-img.svg" alt="" class="img-fluid">
    </div>

    <div class="intro-info">
      <h2>Your direct way to online <span>success</span>!</h2>
      <div>
        <!--a href="/about-us" class="btn-get-started scrollto">Get Started</a>
        <a href="/services" class="btn-services scrollto">Our Services</a-->
      </div>
    </div>

  </div>
</section>
<!-- #intro -->
<main id="main">

  <!--==========================
    Services Section
  ============================-->
  <section id="services" class="section-bg">
    <div class="container">

      <header class="section-header">
        <h3>Services</h3>
        <p>
          We provide a bunch of incredible services that ensure your business's improvements.
        </p>
      </header>

      <div class="row">

        <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon"><i class="ion-ios-world-outline" style="color: #ff689b;"></i></div>
            <h4 class="title"><a>Web Development & Design</a></h4>
            <p class="description">
              WebSide supplies distinguished websites with custom web designs that are made to reflect the identity and
              function of each business or organization. Our high functioning web codes combined with personalized theme
              designs result in high-resolution images, colors, slideshows, and other media that will be presented in a
              structural, friendly, and effective web page.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon"><i class="ion-ios-email-outline" style="color: #e9bf06;"></i></div>
            <h4 class="title"><a>Professional E-mails</a></h4>
            <p class="description">
              Liaising with clients is key to a successful business and the construction of an expert figure. Exclusive
              to WebSide, our official and coordinated e-mail formats can be utilized to communicate with customers and
              reflect the extent of your professionalism. It can also show your goods and services to the general
              public, or interested subscribers, motivating them to browse your platforms and contact you directly.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon"><i class="ion-ios-musical-notes" style="color: #3fcdc7;"></i></div>
            <h4 class="title"><a>Animations</a></h4>
            <p class="description">
              WebSide offers eye-catching animations that add an appeal to your website and draw the client's attention
              to more engaging details. Using the simple motion of icons or whole cartoon characters in a way that is
              homogeneous with your theme brings your website to life!
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon"><i class="ion-ios-paper-outline" style="color:#41cf2e;"></i></div>
            <h4 class="title"><a>Logos, Flyers, Business cards</a></h4>
            <p class="description">
              When creating a logo, flyer, or business card, WebSide takes into account the purpose of your business
              while maintaining an artistic touch. Using the colors and symbols that match the nature of your business,
              our team aims at displaying your details in a piece that is easy for the client to understand and
              memorize.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon"><i class="ion-ios-videocam-outline" style="color: #d6ff22;"></i></div>
            <h4 class="title"><a href="">Promotional videos</a></h4>
            <p class="description">
              WebSide provides constructed promo-videos at standard and customized lengths that include clips of your
              services, products, merchandise, contact details, offers, sales, and much more. This video gives new
              clients an idea about your features, why they need to choose your business, and how to reach you. By
              spreading these videos on social media and your website you can promote your business in a modern and
              striking way.

            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon"><i class="ion-ios-printer-outline" style="color: #4680ff;"></i></div>
            <h4 class="title"><a href="">Printing</a></h4>
            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
              soluta nobis est eligendi</p>
          </div>
        </div>

      </div>

      <header class="section-header">
        <p> Get in touch with our team today to discuss your project and get a free quote with estimated time-table
          <BR><a href="/contact-us" class="btn text-primary">Contact us now</a>
        </p>


      </header>

    </div>
  </section><!-- #services -->

</main>
