<!--==========================
  Intro Section
============================-->
<section id="intro" class="clearfix">
  <div class="container">

    <div class="intro-img">
      <img src="assets/img/media/home-hero.png" style="transform: translateY(-50px);" class="animated fadeIn img-fluid">
    </div>

    <div class="intro-info">
      <h2>
        Get your <span>business</span> to the successful side of the web!
      </h2>
      <div>
        <a routerLink="/contact-us" class="btn-get-started scrollto animated headShake">Get in touch</a>
        <a routerLink="/services" class="btn-services scrollto  animated headShake">Our Services</a>
      </div>
    </div>

  </div>
</section><!-- #intro -->

<main id="main">

  <section id="about">
    <div class="container">

      <header class="section-header">
        <h3>Welcome to WebSide</h3>
        <p>Your ultimate guide for all things web-related.</p>
      </header>

      <div class="row about-container">

        <div class="col-lg-6 content order-lg-1 order-2">
          <p>
            Our team creates unique web designs, innovative logos, interactive animations, promotion videos, and more
            for businesses seeking online expansion.
          </p>

          <div class="icon-box wow fadeInUp">
            <div class="icon"><i class="fa fa-bullseye"></i></div>
            <h4 class="title"><a href="">Set Goals</a></h4>
            <p class="description">Let us know what your business is looking for and we will take it from there</p>
          </div>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
            <div class="icon"><i class="fa fa-clock-o"></i></div>
            <h4 class="title"><a href="">Save Time</a></h4>
            <p class="description">Have a deadline? No problem. Stay on schedule with our fast turnaround time.</p>
          </div>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
            <div class="icon"><i class="fa fa-dollar"></i></div>
            <h4 class="title"><a href="">Save Money</a></h4>
            <p class="description">Need a quality website for a reasonable price? We specialize in professional web
              development and design for competitive prices</p>
          </div>

        </div>

        <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
          <img src="assets/img/media/about-intro.png" class="img-fluid" alt="">
        </div>
      </div>



    </div>
  </section><!-- #about -->

  <!--==========================
    Why Us Section
  ============================-->
  <section id="why-us" class="wow fadeIn">
    <div class="container">
      <header class="section-header">
        <h3>Why WebSide?</h3>
        <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.</p>
      </header>

      <div class="row row-eq-height justify-content-center">

        <div class="col-lg-4 mb-4">
          <div class="card wow bounceInUp">
            <i class="fa fa-diamond"></i>
            <div class="card-body">
              <h5 class="card-title">Make It Easy</h5>
              <p class="card-text">We give you a complete solution, and our dedicated team will take care of everything
                you're looking for.</p>
              <a routerLink="/about-us" class="readmore">Learn more </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4">
          <div class="card wow bounceInUp">
            <i class="fa fa-language"></i>
            <div class="card-body">
              <h5 class="card-title">From AU To The World</h5>
              <p class="card-text">We are located mainly in Sydney Australia, and we have some international projects
                and corporations.</p>
              <a routerLink="/portfolio" class="readmore">Have a look </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4">
          <div class="card wow bounceInUp">
            <i class="fa fa-object-group"></i>
            <div class="card-body">
              <h5 class="card-title">Ongoing Support</h5>
              <p class="card-text">We' a're ready to set or upgrade your projects with suitable negotiable rates upon AU
                market prices. </p>
              <a routerLink="/contact-us" class="readmore">Get in touch </a>
            </div>
          </div>
        </div>

      </div>

      <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">33</span>
          <p>Happy Customer</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">10</span>
          <p>Running Projects</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">370</span>
          <p>Follower</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">5</span>
          <p>Starts Review</p>
        </div>

      </div>

    </div>
  </section>


  <section id="callNow" class="my-3 bg-white">
    <div class="row w-100 order-lg-2 order-1 wow slideInLeft text-center"
    style='background: url("../../../assets/img/media/call-now.jpg"); background-position: 50% 50%; background-repeat: no-repeat; background-size: cover; height:200px; border-top-right-radius:300px ; border-bottom-right-radius: 300px;'>
      <div class='col-md-8 m-auto'>
        <h1 class='text-black  text-bold ' style='text-shadow: 0 0 7px #eee;'>Call us now </h1>
      </div>
      <div class='col-md-4 m-auto'>
        <a href='tel:0283851576' class='btn btn-primary text-white' style='background-color: #2740c7;'>
          <h3>02 838 515 76</h3>
        </a>
      </div>
    </div>
  </section>

  <!--==========================
    Clients Section
  ============================-->

  <section id="testimonials" class="section-bg">
    <div class="container">

      <header class="section-header">
        <h3>Testimonials</h3>
      </header>

      <div class="row justify-content-center">
        <div class="col-lg-12">
          <ngb-carousel class="p-5" >
            <ng-template ngbSlide>
              <div class="testimonial-item">
                <img src="assets/img/media/test1.jpg" class="testimonial-img" alt="">
                <h3>Delphine </h3>
                <h4>Sweet Dreams French Caneles </h4>
                <p>
                  Very good communication! The team took the time to know more about our business and our products, and made a very good video, professional and highlighting all the benefits of what we offer.
                </p>
                <p class='text-warning'>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </p>
              </div>
            </ng-template>

            <ng-template ngbSlide>
              <div class="testimonial-item">
                <img src="assets/img/media/test2.jpg" class="testimonial-img" alt="">
                <h3>Nour Haidar</h3>
                <h4>Splash signs and designs</h4>
                <p>
                  Very professional team, they are very helpful and confident. They helped us in building our website and we are very happy with the results.
<br>
                  We made the best decision by choosing webside team.
 <br>                 You'll never be disappointed!
                </p>
                <p class='text-warning'>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </p>
              </div>
            </ng-template>

            <ng-template ngbSlide>
              <div class="testimonial-item">
                <img src="assets/img/media/test3.jpg" class="testimonial-img" alt="">
                <h3>Carina </h3>
                <h4>Cheeky Recovery</h4>
                <p>
                  Amazing customer service and such an outstanding presentation.
                </p>
                <p class='text-warning'>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </p>
              </div>
            </ng-template>

            <ng-template ngbSlide>
              <div class="testimonial-item">
                <img src="assets/img/media/test4.jpg" class="testimonial-img" alt="">
                <h3>Sandie Gill </h3>
                <h4>Sanshez Urban Style </h4>
                <p>
                  Professional
                </p>
                <p class='text-warning'>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                </p>
              </div>
            </ng-template>

            <ng-template ngbSlide>
              <div class="testimonial-item">
                <img src="assets/img/media/test8.jpg" class="testimonial-img" alt="">
                <h3>Jay Sinatra</h3>
                <h4>AJ Essentials</h4>
                <p>
                  Thank you for helping with the design of my website.
                </p>
                <p class='text-warning'>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </p>
              </div>
            </ng-template>

            <ng-template ngbSlide>
              <div class="testimonial-item">
                <img src="assets/img/media/test5.png" class="testimonial-img" alt="">
                <h3>Brad Murray</h3>
                <h4>Nav Law </h4>
                <p>
                  Excellent.
                </p>
                <p class='text-warning'>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </p>
              </div>
            </ng-template>

            <ng-template ngbSlide>
              <div class="testimonial-item">
                <img src="assets/img/media/test7.jpg" class="testimonial-img" alt="">
                <h3>Hussein chour </h3>
                <h4>Splash mobile carwash</h4>
                <p>
                  I really loved the promotion video that was made for my business. Professional team!
                  <br>This video was a hit and helped us in advertising our business.
                  <br>Thanks to webside team!
                </p>
                <p class='text-warning'>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </p>
              </div>
            </ng-template>

            <ng-template ngbSlide>
              <div class="testimonial-item">
                <img src="assets/img/media/test6.jpg" class="testimonial-img" alt="">
                <h3>Ravi sathiyavan</h3>
                <h4>Shaplens Auto Repairs</h4>
                <p>
                  Excellent.
                </p>
                <p class='text-warning'>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </p>
              </div>
            </ng-template>



            <!--ng-template ngbSlide >
              <div class="testimonial-item" >
                <img src="assets/img/testimonial-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
                <p>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium
                  quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                </p>
              </div>
            </ng-template-->

          </ngb-carousel>

        </div>
      </div>


    </div>
  </section><!-- #testimonials -->



  <!--==========================
    Clients Section
  ============================-->
  <section id="clients" class="section-bg">

    <div class="container">

      <div class="section-header">
        <h3>Our CLients</h3>
        <p>Some of our current and past clients.</p>
      </div>

      <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="assets/img/clients/ssad1.jpg" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="assets/img/clients/property.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="assets/img/clients/scenic.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="assets/img/clients/funbe.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="assets/img/clients/gym22.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="assets/img/clients/capture.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="assets/img/clients/boost.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="assets/img/clients/prema.jpg" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="assets/img/clients/shaplens.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="assets/img/clients/pest.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="assets/img/clients/social.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="assets/img/clients/bros.jpg" class="img-fluid" alt="" style="border-radius: 50%;">
          </div>
        </div>
      </div>

    </div>

  </section>

</main>


<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
