<!--==========================
  Intro Section
============================-->
<section id="intro" class="clearfix">
  <div class="container">

    <div class="intro-img">
      <img src="assets/img/about-extra-2.svg" alt="" class="img-fluid">
    </div>

    <div class="intro-info">
      <h2>Everything your business needs to <span>grow</span>.</h2>
      <div>
        <!--a href="/about-us" class="btn-get-started scrollto">Get Started</a>
        <a href="/services" class="btn-services scrollto">Our Services</a-->
      </div>
    </div>

  </div>
</section><!-- #intro -->
<main id="main">

<!--==========================
    About Us Section
  ============================-->
  <section id="about">
    <div class="container">

      <header class="section-header">
        <h3>About Us</h3>
        <p>Welcome to WebSide</p>
      </header>

      <div class="row about-extra">
        <div class="col-lg-6 wow fadeInUp">
          <img src="assets/img/media/sign.png" class="img-fluid" alt="" style="border-radius: 50px 20px;
          box-shadow: 3px 3px 10px #1027c7;">
        </div>
        <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
          <h4>Who We Are?</h4>
          <p>
            WebSide is a team of experts in <b>web development & graphic design</b> fields that helps you through all online transformations and makes getting into the digital world smoother as the rules of business change. 
          </p>
          <p>We value our customers and are dedicated to designing the best web services, that are tailored towards your needs. You can <b>flexibly choose the details and the duration</b> that suit your project with a fixed and modest price for your budget. We pride ourselves in making your aspirations our goals as we find ourselves growing with your business' success. <a href='/contact-us'>Contact us</a> today to get a free quotation for your future projects.
          </p> 
        </div>
      </div>

      <br>
      <div class="row about-extra">
        <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
          <img src="assets/img/media/about-banner.jpg" class="img-fluid" alt="" style="border-radius: 50px 20px;
          box-shadow: 3px 3px 10px #1027c7;">
        </div>

        <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
          <h4>What we offer?</h4>
          <p>
            Here at <b>WebSide</b>, we create well-designed websites that include rich content, interactive animations, and display products and services. We set the right plan to improve the online presence of your project and advance your business by accelerating your workflow in the world of competition. 
          </p>
          <p>
            We also provide the complementary tools to your website: from promotional videos of your work on social media to designing your flyers or building an expressive logo to reflect your business, and much more. In short, we make sure you focus on managing your business while <b>we handle everything web-related</b>.
          
          </p> 
        </div>

      </div>

      <br>
      <div class="row about-extra">
        <div class="col-lg-6 wow fadeInUp">
          <img src="assets/img/media/about-banner2.jpg" class="img-fluid" alt="" style="border-radius: 50px 20px;
          box-shadow: 3px 3px 10px #1027c7;">
        </div>
        <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
          <h4>How to reach us?</h4>
          <p>
            You can find our contact details in our <a href='contact-us'>Contact Page</a>. We would love to be part of your next project, so feel free to call us, email us, send us a contact enquiry form, or DM us on any of our social media platforms!
          </p>
        </div>
      </div>


    </div>
  </section><!-- #about -->
  <!--==========================
    Team Section
  ============================-->
  <section id="team">
    <div class="container">
      <div class="section-header">
        <h3>Team</h3>
        <p>Meet our tremendous experts!</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 wow fadeInUp">
          <div class="member">
            <img src="assets/img/media/A-logo.png" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>A. Kashmar</h4>
                <span>Web Developer</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="member">
            <img src="assets/img/media/MK-logo.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>MK. Farhat</h4>
                <span>Web Developer</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
          <div class="member">
            <img src="assets/img/team-3.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>L. Addie</h4>
                <span>Customer Services</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="member">
            <img src="assets/img/team-4.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>S. Nishan</h4>
                <span>Grapgic Designer</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #team -->
</main>